
  <body>
  <div class="titulo">
    <h1 class="titulo2">¿Quienes somos?</h1>
    <p> Unipiso es el portal inmobiliario líder entre los estudiantes.
      Nuestro personal Pamela, Pablo, Ana y Elías trabajarán con usted de forma personalizada,
      para que consigamos juntos el mejor trato. Nuestro equipo de consultores inmobiliarios es experimentado,
      formado y orientado a la obtención de resultados y servicio al cliente. <br> <br>
      Nos preocupamos en estudiar el mercado gallego para que podamos dar las mejores recomendaciones. <br>
      Este último año hemos sido una de las empresas que más hemos crecido en el sector. </p>
  </div>
  <div class="image">
    <img src="..\..\..\assets\images\portada.png" alt="portada">
  </div> <br>

  <div class="titulo2">
    <h2>¿Por qué escoger Unipiso?</h2>


    <div class="lista">
    <ul>
      <p>
        <mat-icon>policy</mat-icon> Brindando a las personas la confianza de encontrar un hogar a través de todo lo que
        decimos y hacemos.
      </p>
    </ul>
    <ul>
      <p>
        <mat-icon>task_alt</mat-icon> Creando herramientas, experiencias y mensajes que les inspiren y ayuden a tomar
        decisiones en cada momento de sus vidas.
      </p>
    </ul>
    <ul>
      <p>
        <mat-icon>more_time</mat-icon> Para lo que el público está acostumbrado pero también para lo nuevo que los
        usuarios necesiten,
        experiencias digitales convincentes y sin fricciones.
      </p>
    </ul>
    <ul>
      <p>
        <mat-icon>language</mat-icon> Apoyando a nuestra sociedad, usuarios, clientes, socios e industria en general.
      </p>
    </ul>
  </div>
  </div>
</body>













