
<o-form editable-detail="no" show-header="no">
  <div fxFlex>
      <o-table fxFlex attr="alquileresTable" service="alquileres" entity="alquileres" keys="id_alquiler"
      columns="ciudad;localidad;picture;precio;numero_habitaciones;id_alquiler;numero_baños;amueblada;ascensor;animales;curso_completo;direccion;employee"
      visible-columns="ciudad;direccion;precio;employee" query-rows="20">
      <o-table-column attr="ciudad" title="TABLE_CITY" ></o-table-column>
      <o-table-column attr="direccion" title="TABLE_ADDRESS"></o-table-column>
      <o-table-column attr="precio" title="TABLE_PRICE"></o-table-column>
      <o-table-column attr="employee" title="TABLE_EMPLOYEE"></o-table-column>
      </o-table>
  </div>
</o-form>
