<o-form service="alquileres" entity="alquileres" keys="id_alquiler" header-actions="R;I;U;D" show-header-navigation="no">
  <o-text-input attr="Datos del alquiler" sql-type="INTEGER" enabled="no"></o-text-input>
  <o-row>
    <o-column>
      <o-image id="alquiler_picture" attr="picture" empty-image="assets/images/no-image.png" sql-type="OTHER" width="100" height="100"></o-image>
    </o-column>
    <o-column title-label="Información sobre el alquiler" fxFlex>
      <o-row>
        <o-text-input class="input-padding" attr="direccion" fxFlex="50" required="yes"></o-text-input>
        <o-text-input class="input-padding" attr="ciudad" fxFlex="20" required="yes"></o-text-input>
        <o-text-input class="input-padding" attr="localidad" fxFlex="20" required="yes"></o-text-input>
      </o-row>

      <o-row>
        <o-real-input attr="disponibilidad" required="yes"> </o-real-input> <br>
          <label for="periodo">cuatrimestre </label>
          <input type="radio" name="periodo" id="cuatrimestre" value="cuatrimestre">
          <label for="period">curso completo </label>
          <input type="radio" name="periodo" id="cuatrimestre" value="cursocompleto">

        <o-real-input attr="precio"  type= "number" pattern="[0-9]" min="10" step="1" fxFlex="50" class="input-padding"></o-real-input>

      </o-row>

      <o-row>
          <o-real-input attr="numero_baños" class="input-padding" fxFlex="50"></o-real-input>
          <label for= "amueblada"> Amueblada: </label><select attr="amueblada" class="input-padding" fxFlex="6" required="yes"> <option> Si</option> <option>No</option> </select>
          <select attr="ascensor" class="input-padding" fxFlex="40" required="yes"> <option> Si</option> <option>No</option> </select>
          <select attr="animales" class="input-padding" fxFlex="40" required="yes"> <option> Si</option> <option>No</option> </select>
          <o-real-input attr="numero_habitaciones" class="input-padding" type= "number" pattern="[0-9]" min="1" step="1" fxFlex="50"> </o-real-input>
      </o-row>

      <o-row></o-row>
   </o-column>
  </o-row>
</o-form>
