<o-form service="alquileres" entity="alquileres" keys="id_alquiler" header-actions="post" show-header-navigation="no">
  <o-text-input oHidden attr="id_alquiler" sql-type="INTEGER" enabled="no"></o-text-input>
  <o-row>
    <o-column>
      <o-image id="alquiler_picture" attr="picture" empty-image="assets/images/no-image.png" sql-type="OTHER"
        width="100" height="100"></o-image>
    </o-column>
    <o-column title-label="Información sobre el alquiler" fxFlex>
      <o-row>
        <o-text-input class="input-padding" attr="direccion" fxFlex="20" required="yes"></o-text-input>
        <o-text-input class="input-padding" attr="ciudad" fxFlex="40" required="yes"></o-text-input>
        <o-text-input class="input-padding" attr="localidad" fxFlex="40" required="yes"></o-text-input>
      </o-row>

      <o-row>
        <o-real-input attr="precio" decimal-separator="," max-decimal-digits="10" min-decimal-digits="0" class="input-padding" fxFlex="50"> </o-real-input>
        <o-integer-input attr="numero_habitaciones" class="input-padding" type="number" pattern="[0-9]" min="1" step="1" fxFlex="50"> </o-integer-input>
      </o-row>

      <o-row>
        <o-integer-input attr="numero_baños" class="input-padding" fxFlex="50"></o-integer-input>
        <o-checkbox attr="amueblada" class="input-padding" fxFlex="40" required="yes"></o-checkbox>
        <o-checkbox attr="ascensor" class="input-padding" fxFlex="40" required="yes"></o-checkbox>
        <o-checkbox attr="animales" class="input-padding" fxFlex="40" required="yes"></o-checkbox>
      </o-row>
    </o-column>
  </o-row>
</o-form>
