.input-padding{
    padding-right: 6px;
              }
form{
    padding: 60px;
    max-width: 400px;
    background-color: #3366ff;
    margin: 0 auto;
    }

#checkbox{
  color: #595959;
  display: block;
  float: left;
  font-weight: bold;
  position: relative;
  width: 120px;
}



